[data-theme="dark"] {
    background-color: #35363a !important;
    color: #eee;
}

[data-theme="dark"] figure {
    background-color: #585858 !important;
}


/* [data-theme="dark"] .bg-white {
    background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
    background-color: #eee !important;
} */